@using Vers333.Models.ViewModels;


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Результаты прохождения теста</title>
    <style>
        * {
            font-family: Arial;
        }

        td {
            padding: 5px;
        }

        button {
            margin: 5px;
        }

        .content {
            width: 1000px;
            position: absolute;
            left: 50%;
            margin-left: -500px;
            margin-top: 0px;
        }

        .FormsContainer {
            margin-top: 50px;
        }

        h2 {
            margin-left: 350px;
            font-size: 22px;
        }

        .table-wrapper {
            margin: 10px 70px 70px;
            box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
        }

        .fl-table {
            border-radius: 5px;
            font-weight: normal;
            border: none;
            border-collapse: collapse;
            width: 100%;
            max-width: 100%;
            white-space: nowrap;
            background-color: white;
            font-size: 16px;
        }

            .fl-table td, .fl-table th {
                text-align: center;
                padding: 8px;
            }

            .fl-table td {
                border-right: 1px solid #f8f8f8;
                font-size: 16px;
            }

            .fl-table thead th {
                color: #ffffff;
                background: #4FC3A1;
            }


                .fl-table thead th:nth-child(odd) {
                    color: #ffffff;
                    background: #324960;
                }

            .fl-table tr:nth-child(even) {
                background: #F8F8F8;
            }

            .AnketaForm {
                height: 200px;
                margin-top: 30px;
                visibility: hidden;
            }

            .HeaderForms {
                height: 70px;
                width: 1000px;
            }
            
    </style>
</head>
<body>
    <div class="content">
        <div class="HeaderForms">
            <form method="post" asp-controller="Main" asp-action="GetDataUseFilter">
                <span>
                    <label for="FilterTest">Фильтр по тесту: </label>
                    <select id="FilterTest" name="FilterTest">
                        <option value="0" selected>По всем</option>
                        <option value="1">Тест MBTI</option>
                        <option value="2">Тест PAIE</option>
                    </select>
                </span>
                <br /><br />
                <span>
                    <label for="SearchUser">ФИО: </label>
                    <input type="text" id="SearchUser" name="SearchUser" width="200px" value=""/>
                    <input type="submit" id="SearchBtn" value="Найти" style="margin-left: 35px" />
                </span>
            </form>
        </div>
        <div class="TableContainer">
            <h2>Список результатов прохождения тестов</h2>
            <table class="fl-table">
                <thead>
                    <tr>
                        <th hidden>id</th>
                        <th hidden>idUser</th>
                        <th>Тест</th>
                        <th>Результат</th>
                        <th>ФИО</th>
                        <th>Время начала</th>
                        <th>Время окончания</th>
                        <th>Телефон</th>
                        <th>Место проживания</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach(ResultsViewModel res in Model)
                        {
                            string nId = "G" + res.IdResult;
                            <tr data-rowid="@res.IdResult">
                                <td hidden>@res.IdResult</td>
                                <td hidden id="idUser">@res.IdUser</td>
                                <td>@res.nameTest</td>
                                <td>@res.ContentResult</td>
                                <td id="FullNameUser">@res.FullName</td>
                                <td>@res.DateStart</td>
                                <td>@res.DateEnd</td>
                                <td>@res.PhoneNumber</td>
                                <td>@res.PlaceOfLife</td>
                                <td><input type="button" value="Выбрать" id="@nId" class="SelectUserBtn"/></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <hr />
        <div class="AnketaForm" id="AnketaForm">
            <form id="ViewAnketa">
                <h2 id="SelectedFIO"></h2>
                <h2 id="SelectedIdUser" hidden></h2>
                <br />
            </form>
            <br />
            <input type="button" id="GenerateWordBtn" value="Сгенерировать docx"/>
        </div>

        
    </div>


    <script>
        // отправка формы
        navesh();
        function navesh() {
            let buts = document.getElementsByClassName("SelectUserBtn");
            for(var i = 0; i < buts.length; i++) {
                buts[i].addEventListener("click", async (event) => {
                    let idResG = event.target.id;
                    let idRes = idResG.substring(1);
                        
                    let row = document.querySelector(`tr[data-rowid='${idRes}']`);

                    let sub_user = row.childNodes[3].innerText;
                    let sub_name = row.childNodes[9].innerText;

                    idSelectedUser = sub_user;
                    document.getElementById("SelectedFIO").innerText = sub_name;
                    document.getElementById("SelectedIdUser").innerText = sub_user;
                    document.getElementById("AnketaForm").style.visibility = "visible";
                });
            }
        }


        document.getElementById("GenerateWordBtn").addEventListener("click", async (event) => {
            const response = await fetch(`https://localhost:7281/main/GenerateWord?idUser=${idSelectedUser}`, {
                method: "POST"
            });
            if(response.ok === true) {
                alert("Характеристика успешно сформирована");
                console.log("успех");
            }
        });

        var idSelectedUser = -1;

        //function SelectUser(idUser, fullName) {
        //    console.log("text");
        //    //document.getElementById("SelectedFIO").innerText = fullName;

        //    //idSelectedUser = idUser;

        //    //console.log(idUser);
        //    //console.log(fullName);

        //}
    </script>
</body>
</html>